<li>
  <span class='left'>
    <h4>
      <%= link_to exam_template.filename, download_assignment_exam_template_path(id: exam_template.id) %>
    </h4>
  </span>
  <span class='right'>
      <%= exam_template.num_pages %>
  </span>
</li>
