<div class='sortable'>
  <header>
    <span class='left'><%= ExamTemplate.human_attribute_name('filename') %></span>
    <span class='right'><%= ExamTemplate.human_attribute_name('num_pages') %></span>
  </header>

  <ul>
    <% exam_templates.each do |exam_template| %>
        <%= render partial: 'exam_template_column',
                   locals: { exam_template: exam_template } %>
    <% end %>
  </ul>
</div>
