<% content_for :title, ExamTemplate.model_name.human.pluralize %>

<div>
  <%= render partial: 'template_pane',
             locals: { exam_templates: @exam_templates }%>
</div>

<%= render partial: 'form',
           locals: { exam_templates: @exam_templates[0] }%>
