<% content_for :head do %>
    <%= render partial: 'template_divisions_table',
               formats: [:'js.jsx'],
               handlers: [:erb] %>
<% end %>

<% content_for :title, ExamTemplate.model_name.human.pluralize %>

<%= render partial: 'form',
           locals: { exam_template: @exam_templates[0] }%>

<% content_for :wrap_left_content do %>
    <!--The table that contains all the divisions.-->
    <div id='divisions_table'></div>
<% end %>
